{% extends "base.html" %}

{% load static %}

{% block title %} 

Customer page
{% endblock %}

{% block cssfile %} 
<link rel="stylesheet" href="{% static "app/css/all-posts.css" %}">
<link rel="stylesheet" href="{% static "app/css/post.css" %}">
{% endblock %}


{% block content%}


<section id="all-posts">
<div class="buttons">

    <div class="action_btn">

    <button><a href="{% url "stock-form"  %}">add data</a></button>
    <button><a href="{% url "stock-table-view"  %}"> table view</a></button>
    <!-- <button><a href="{% url "stock-table-list"  %}"> list view</a></button> -->

    </div>

</div>

    <h2>{{title}}</h2>
    <ul>
        {% for stock in object_list %}

        {% include "app/includes/stock.html" %}


        {% endfor %}
    </ul>

</section>

{% endblock%}

{% block jscript%}

<script type="text/javascript"> 
    var a = "{% url 'stock-form'  %}";
 </script>

 <script src="{% static "app/js/scriptjs.js" %}"></script>
{% endblock%}